
@{
    Layout = null;
}

@using MvcExamTaskMitRao.Models
@model (User CurrentUser, List<string> ProductMenus, List<ProductMenuItem> productMenuItems, List<ProductMenuItem> allStockItems)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Session["email"] == null)
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("MvcExamTaskMitRao", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @foreach (var productMenu in Model.ProductMenus)
                        {
                            <li>@Html.ActionLink(productMenu, productMenu, "NonAdminUsers", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        @*<li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("MVCExamTaskMitRao", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @foreach (var productMenu in Model.ProductMenus)
                        {


if (productMenu.Contains("order"))
                    {
<li>@Html.ActionLink(productMenu, "GetOrders", "NonAdminUsers", new { area = "" }, new { @class = "nav-link" })</li>
                    } else if (productMenu.Contains("stock"))
                    {
                    <li>@Html.ActionLink(productMenu, "GetStocks", "NonAdminUsers", new { area = "" }, new { @class = "nav-link" })</li>
                    } else if (productMenu.Contains("food"))
                    {
                    <li>@Html.ActionLink(productMenu, "GetFoods", "NonAdminUsers", new { area = "" }, new { @class = "nav-link" })</li>
    }
    else
                    {
                    <li>@Html.ActionLink(productMenu, "GetProducts", "NonAdminUsers", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                        }
                    <li>@Html.ActionLink("Logout", "Logout", "Auth", new { area = "" }, new { @class = "nav-link" })</li>
                        @*<li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                    </ul>
                </div>
            </div>
        </nav>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Content/CustomJs");
    @RenderSection("scripts", required: false)
</body>
</html>

</html>
